* {
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-light-green-1: #bbebd4;
    --color-light-green-2: #94f1d2;
    --color-light-green-3: #53f1af;
    --color-light-green-4: #16ce68;
    --color-mid-green-1: #087238;
    --color-dark-green-1: #042211;
    --color-dark-green-2: #16492d;
    --color-dark-green-3: #020a06;

    --font-family-mixed: 'Android Euclid', 'Roboto', Helvetica, Arial, sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;

    --font-weight-900: 900;
    --font-weight-600: 600;
    --font-weight-400: 400;

    --font-size-h1-dektop: 3.75rem;
    --font-size-h2-desktop: 2.5rem;
    --font-size-p-desktop: 1.25rem;
    --font-size-100: 100%;
    --font-size-80: 80%;
    --font-size-70: 70%;
    --font-size-60: 60%;

    --font-size-h1-mobile: 2.5rem;
    --font-size-h2-mobile: 1.4rem;
    --font-size-p-mobile: 1.125rem;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.top-navbar {
    width: 100%;
    height: auto;
    padding-top: .8rem;
    padding-bottom: .6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-navbar>ul {
    list-style: none;
}

.top-navbar>.menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-right: 2rem;
}

.top-navbar>.menu-mobile {
    display: none;
}

.top-navbar>ul>li {
    margin-right: .7rem;
    font-family: var(--font-family-mixed);
    font-size: var(--font-size-100);
    font-weight: var(--font-weight-900);
    cursor: pointer;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-bottom: 2px solid var(--color-white);
    -webkit-transition: ease-out 1.2s;
    -moz-transition: ease-out 1.2s;
    transition: ease-out 1.2s;
}

.top-navbar>.menu>li:hover {
    color: var(--color-light-green-4);
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
    border-bottom: 2px dashed var(--color-black);
}


.active {
    color: var(--color-light-green-4);
}

.mobile-menu-options {
    display: none;
}

.top-notification {
    margin-top: 0;
    margin-bottom: 8.6rem;
    margin-left: 0;
    margin-right: 0;
    font-size: var(--font-size-100);
    padding: 0;
    font-family: var(--font-family-mixed);
    background-color: var(--color-light-green-1);
    color: var(--color-dark-green-1);
    text-align: center;
    padding-top: .7rem;
    padding-bottom: .7rem;
    box-shadow: inset 0 0 0 0 var(--color-light-green-2);
    -webkit-transition: ease-out 1.2s;
    -moz-transition: ease-out 1.2s;
    transition: ease-out 1.2s;
}

.top-notification:hover {
    box-shadow: inset 1292px 0 0 0 var(--color-light-green-2);
}

.name {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-h1-dektop);
    line-height: 68px;
    color: var(--color-black);
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: 48px;
}

.desc {
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-p-desktop);
    line-height: 32px;
    color: var(--color-black);
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0 0 32px;
}

.contact-btn {
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
    line-height: 1.5rem;
    text-align: center;
    color: var(--color-mid-green-1);
    letter-spacing: 0.03125rem;
    margin: .8rem;
    padding-top: 0.6rem;
    padding-left: 2rem;
    padding-bottom: 0.6rem;
    padding-right: 2rem;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    background-color: var(--color-white);
    border: 2px solid var(--color-dark-green-2);
    box-shadow: inset 0 0 0 0 var(--color-light-green-2);
    -webkit-transition: ease-in .8s;
    -moz-transition: ease-in .8s;
    transition: ease-in .8s;
}

.contact-btn:hover {
    box-shadow: inset 0 70px 20px 0 var(--color-light-green-2);
}

.flex-container {
    display: flex;
    margin-left: 4.6rem;
    margin-top: 2.5rem;
    width: 89%;
}

.flex-intro {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.intro-1 {
    width: 45%;
}

.intro-2 {
    width: 45%;
}

.intro-2-mobile {
    display: none;
}

.intro-2>.profile-photo {
    align-items: center;
    width: 80%;
    height: 70%;
    border-radius: 20px 20px 20px 20px;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.intro-2>.intro-2-links {
    text-align: center;
}

.social-link {
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-80);
    line-height: .2rem;
    text-align: center;
    color: var(--color-dark-green-3);
    letter-spacing: 0.03125rem;
    margin: .2rem;
    padding-top: 0.6rem;
    padding-left: .4rem;
    padding-bottom: 0.6rem;
    padding-right: .4rem;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    background-color: var(--color-light-green-3);
    border: 1px solid var(--color-light-green-4);
    box-shadow: inset 0 0 0 0 var(--color-light-green-2);
    -webkit-transition: ease-in .8s;
    -moz-transition: ease-in .8s;
    transition: ease-in .8s;
}

.social-link:hover {
    box-shadow: inset 70px 0 0 0 var(--color-light-green-2);
}

.footer {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-70);
}

a {
    text-decoration: none;
    color: var(--color-black);
}

a:hover {
    color: var(--color-light-green-4);
}

.services {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 6rem;
}

.services>.service-name {
    font-family: var(--font-family-mixed);
    font-size: var(--font-size-h2-desktop);
    font-weight: var(--font-weight-900);
}

.services>.cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.services>.cards>.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.services>.cards>.card>.card-image {
    align-items: center;
    width: 100%;
    height: 200.9px;
    border-radius: 20px 20px 0px 0px;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.services>.cards>.card>.service-desc {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: .3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
}

.services>.cards>.card>.service-desc-p {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-p-desktop);
    font-weight: var(--font-weight-900);
    line-height: 32px;
    letter-spacing: 2px;
}

.services> .cards > .card>.project-desc-p {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-h1-mobile);
    font-weight: var(--font-weight-900);
    line-height: 32px;
    letter-spacing: 2px;
}

.services>.cards>.card>.explore-btn {
    width: 50%;
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
    line-height: 1.5rem;
    text-align: center;
    color: var(--color-black);
    letter-spacing: 0.03125rem;
    margin-top: .8rem;
    margin-left: 2rem;
    margin-right: .8rem;
    margin-bottom: .8rem;
    padding-top: 0.6rem;
    padding-left: 2rem;
    padding-bottom: 0.6rem;
    padding-right: 2rem;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    background-color: var(--color-light-green-3);
    border: 2px solid var(--color-dark-green-2);
    box-shadow: inset 0 0 0 0 var(--color-light-green-2);
    -webkit-transition: ease-in .8s;
    -moz-transition: ease-in .8s;
    transition: ease-in .8s;
}

.services>.cards>.card>.explore-btn:hover {
    box-shadow: inset 200px 0 0 0 var(--color-light-green-2);
}

.rotate-45 {
    transform: rotate(-45deg);
}

.services>.cards>.card>.tech-used {
    margin-left: 2rem;
    margin-right: 2rem;
}

.tech-chip {
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-80);
    line-height: .2rem;
    text-align: center;
    color: var(--color-light-green-4);
    letter-spacing: 0.03125rem;
    margin: .2rem;
    padding-top: 0.6rem;
    padding-left: .4rem;
    padding-bottom: 0.6rem;
    padding-right: .4rem;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--color-light-green-4);
    box-shadow: inset 0 0 0 0 var(--color-light-green-2);
    -webkit-transition: ease-in .8s;
    -moz-transition: ease-in .8s;
    transition: ease-in .8s;
}

.tech-chip:hover {
    box-shadow: inset 70px 0 0 0 var(--color-light-green-3);
    color: var(--color-dark-green-2);
}

/*Mobile Responsive CSS*/
@media only screen and (max-width: 600px) {
    .main-container {
        width: 100%;
    }

    .top-navbar {
        position: fixed;
        z-index: 2;
        background-color: var(--color-white);
        opacity: .7;
        width: 100%;
        height: auto;
        padding-top: .2rem;
        padding-bottom: .2rem;
        padding-left: .1rem;
        padding-right: .1rem;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .top-navbar>.menu {
        display: none;
    }

    .top-navbar>.menu-mobile {
        display: block;
    }

    .mobile-menu-screen {
        width: 100%;
        height: 100%;
        background-color: var(--color-white);
        z-index: 3;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: .2rem;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
        font-family: var(--font-family-mixed);
        font-size: var(--font-size-100);
        font-weight: var(--font-weight-900);
        -webkit-transition: ease-out 1.8s;
        -moz-transition: ease-out 1.8s;
        transition: ease-out 1.8s;
    }

    .top-header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .menu-close {
        text-align: right;
        cursor: pointer;
    }

    .mobile-menu-screen>ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: var(--color-black);
    }

    a:hover {
        color: var(--color-light-green-4);
    }

    .mobile-menu-screen>ul>li {
        margin-bottom: 2rem;
    }


    .second-half {
        position: absolute;
        left: 0;
        bottom: 0;
        margin-left: 2rem;
        margin-top: 2rem;
        padding-top: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }



    .mobile-menu-screen>ul>.first-half>li {
        margin-bottom: 2rem;
        font-size: var(--font-size-h2-mobile);
    }

    .mobile-menu-screen>ul>.first-half>li:hover {
        color: var(--color-light-green-4);
        cursor: pointer;
    }

    .mobile-menu-screen>.mobile-menus>.second-half>li {
        margin-bottom: 3rem;
    }

    .mobile-menus {
        margin-left: 1.2rem;
    }

    .welcome-menu {
        font-family: var(--font-family-roboto);
        font-size: var(--font-size-100);
        font-weight: var(--font-weight-400);
    }

    .lang-dropdown {
        border: 0;
        font-family: var(--font-family-mixed);
        font-size: var(--font-size-100);
        font-weight: var(--font-weight-900);
    }

    .top-notification {
        margin-top: 0;
        margin-bottom: 1.4rem;
        margin-left: 0;
        margin-right: 0;
        box-shadow: inset 0 0 0 0 var(--color-light-green-2);
        -webkit-transition: ease-out 1.2s;
        -moz-transition: ease-out 1.2s;
        transition: ease-out 1.2s;
        padding-top: 4.4rem;
        padding-bottom: .1rem;
        background-color: var(--color-light-green-1);
    }
    .top-notification > p {
        color: var(--color-mid-green-1);
        font-size: var(--font-size-100);
        padding-left: .6rem;
        padding-right: .6rem;
        font-family: var(--font-family-mixed);
        text-align: center;
        
    }

    .name {
        font-family: var(--font-family-roboto);
        font-weight: var(--font-weight-900);
        font-size: var(--font-size-h1-mobile);
        line-height: 44px;
        color: var(--color-black);
        letter-spacing: -1px;
        margin-top: -3rem;
        margin-bottom: 38px;
        width: 100%;
    }

    .desc {
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-p-mobile);
        line-height: 26px;
        color: var(--color-black);
        letter-spacing: 0;
        margin-top: 0;
        margin-bottom: 0 0 24px;
        width: 100%;
    }

    .flex-container {
        display: flex;
        margin-left: 1.5rem;
        margin-top: 3rem;
    }

    .flex-intro {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        flex-wrap: wrap;

    }

    .intro-1 {
        width: 100%;
    }

    .intro-2 {
        width: 100%;
    }

    .intro-2>.intro-2-links {
        display: none;
    }

    .intro-2>.profile-photo {
        align-items: center;
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 20px 20px;
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
    }

    .contact-btn {
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-900);
        font-size: var(--font-size-100);
        line-height: 1.5rem;
        text-align: center;
        color: var(--color-mid-green-1);
        letter-spacing: 0.03125rem;
        padding-top: 0.6rem;
        margin-bottom: 0.6rem;
        padding-left: 2rem;
        padding-bottom: 0.6rem;
        padding-right: 2rem;
        border-radius: 25px 25px 25px 25px;
        cursor: pointer;
        background-color: var(--color-white);
        border: 2px solid var(--color-dark-green-2);
        box-shadow: inset 0 0 0 0 var(--color-light-green-2);
        -webkit-transition: ease-in .8s;
        -moz-transition: ease-in .8s;
        transition: ease-in .8s;
    }

    .intro-2-mobile {
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    .intro-2-links {
        display: none;
    }

    .intro-2-mobile-links {
        display: block;

    }

    .social-link {
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-900);
        font-size: var(--font-size-80);
        line-height: .2rem;
        text-align: center;
        color: var(--color-dark-green-3);
        letter-spacing: 0.03125rem;
        margin: 1.6rem;
        padding-top: 0.6rem;
        padding-left: .4rem;
        padding-bottom: 0.6rem;
        padding-right: .4rem;
        border-radius: 15px 15px 15px 15px;
        cursor: pointer;
        background-color: var(--color-light-green-3);
        border: 1px solid var(--color-light-green-4);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        -webkit-transition: ease-in .8s;
        -moz-transition: ease-in .8s;
        transition: ease-in .8s;
    }

    .footer {
        position: relative;
    }

    .services {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 4rem;
    }
    .services>.cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .services>.cards>.card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin-right: 2rem;
        margin-bottom: 2rem;
        border-radius: 20px 20px 20px 20px;
        padding-bottom: 1rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    .services>.cards>.card>.explore-btn {
        width: 70%;
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-900);
        font-size: var(--font-size-100);
        line-height: 1.5rem;
        text-align: center;
        color: var(--color-black);
        letter-spacing: 0.03125rem;
        margin-top: .8rem;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: .8rem;
        padding-top: 0.6rem;
        padding-left: 2rem;
        padding-bottom: 0.6rem;
        padding-right: 2rem;
        border-radius: 25px 25px 25px 25px;
        cursor: pointer;
        background-color: var(--color-light-green-3);
        border: 2px solid var(--color-dark-green-2);
        box-shadow: inset 0 0 0 0 var(--color-light-green-2);
        -webkit-transition: ease-in .8s;
        -moz-transition: ease-in .8s;
        transition: ease-in .8s;
    }
    

    body::-webkit-scrollbar {
        width: 0em;
    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    }

    body::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}