@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-light-green-1: #abeccd;
    --color-light-green-2: #1acc9d;
    --color-light-green-3: hsla(0, 0%, 0%, 0.5);
    --color-light-green-4: #064724;
    --color-mid-green-1: #1c6268;
    --color-dark-green-1: #042122;
    --color-dark-green-2: #16221b;
    --color-dark-green-3: #020a06;
    --color-light-olive-green: #c2e8d4;
    --color-light-olive-yellow: #fff5bc;
    --color-light-olive-blue: #c7ddf4;
    --color-light-olive-orange: #f1deca;
    --color-light-olive-purple: #cfb9ea;
    --color-light-olive-red: #f6bdbd;
    --color-light-olive-pink: #ecbbf2;
    --color-light-olive-grey: #e4e4e4;
    --colror-dark-blue: #217eea;
    --color-dark-orange: #f19160;
    --color-dark-purple: #5b1198;
    --color-dark-red: #9f2727;
    --color-dark-pink: #e429db;
    --color-dark-grey: #303030;
    
    --color-light-white-overlay: #dde3da;

    --font-family-mixed: 'Android Euclid', 'Roboto', Helvetica, Arial, sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-familty-material-icons: 'Material Icons';

    --font-weight-900: 900;
    --font-weight-600: 600;
    --font-weight-400: 400;

    --font-size-h1-dektop: 3.75rem;
    --font-size-h2-desktop: 2.5rem;
    --font-size-p-desktop: 1.25rem;
    --font-size-100: 100%;
    --font-size-80: 80%;
    --font-size-70: 70%;
    --font-size-60: 60%;

    --font-size-h1-mobile: 2.5rem;
    --font-size-h2-mobile: 1.4rem;
    --font-size-p-mobile: 1.125rem;

    --box-shadow-dark-deep: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    letter-spacing: 0.09em;
}

.mentainance-text {
    text-align: center;
    font-size: var(--font-size-100);
    font-family: var(--font-family-roboto);
}

.top-navbar {
    width: 100%;
    height: auto;
    padding-top: .8rem;
    padding-bottom: .6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-navbar>ul {
    list-style: none;
}

.top-navbar>.menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-right: 2rem;
}

.top-navbar>.menu-mobile {
    display: none;
}

.top-navbar>ul>li {
    margin-right: .7rem;
    font-family: var(--font-family-mixed);
    font-size: var(--font-size-100);
    font-weight: var(--font-weight-900);
    cursor: pointer;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-bottom: 2px solid var(--color-white);
    -webkit-transition: ease-out 1.2s;
    -moz-transition: ease-out 1.2s;
    transition: ease-out 1.2s;
}

.top-navbar>.menu>li:hover {
    color: var(--color-light-green-4);
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
    border-bottom: 2px dashed var(--color-black);
}


.active {
    color: var(--color-light-green-4);
}

.mobile-menu-options {
    display: none;
}

.top-notification {
    margin-top: 0;
    margin-bottom: 8.6rem;
    margin-left: 0;
    margin-right: 0;
    font-size: var(--font-size-100);
    padding: 0;
    font-family: var(--font-family-mixed);
    background-color: var(--color-light-olive-blue);
    color: var(--colror-dark-blue);
    text-align: center;
    padding-top: .7rem;
    padding-bottom: .7rem;
    box-shadow: inset 0 0 0 0 var(--color-white);
    -webkit-transition: ease-out 1.2s;
    -moz-transition: ease-out 1.2s;
    transition: ease-out 1.2s;
    border-radius: 0 0 15px 15px;
}

.top-notification:hover {
    box-shadow: inset 1800px 0 0 0 var(--color-light-olive-yellow);
    color: var(--color-black);
}

.name {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-h1-dektop);
    line-height: 68px;
    color: var(--color-black);
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: 48px;
}

.desc {
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-p-desktop);
    line-height: 32px;
    color: var(--color-black);
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0 0 32px;
}

.contact-btn {
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
    line-height: 1.5rem;
    text-align: center;
    color: var(--color-black);
    letter-spacing: 0.03125rem;
    margin: .8rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
    background-color: var(--color-light-olive-green);
    border: 1px solid var(--color-black);
    box-shadow: inset 0 0 0 0 var(--color-light-white-overlay);
    -webkit-transition: ease-in .8s;
    -moz-transition: ease-in .8s;
    transition: ease-in .8s;
}

.contact-btn:hover {
    box-shadow: inset 300px 0px 0px 0 var(--color-light-olive-yellow);
    color: var(--color-black);
    border: 2px solid var(--color-black);
    font-weight: var(--font-weight-900);
}

.flex-container {
    display: flex;
    margin-left: 4.6rem;
    margin-top: 2.5rem;
    width: 89%;
}

.flex-intro {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.intro-1 {
    width: 45%;
}

.intro-2 {
    width: 45%;
}

.intro-2-mobile {
    display: none;
}

.intro-2>.profile-photo {
    margin-top: -10%;
    margin-left: 12%;
    margin-right: 12%;
    width: 76%;
    height: 85%;
    /*border-radius: 20px 20px 20px 20px;*/
    border-radius: 120px 80px 80px 120px;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.intro-2>.intro-2-links {
    text-align: center;
    margin-top: 2%;
}

.social-link {
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-80);
    line-height: .2rem;
    text-align: center;
    
    letter-spacing: 0.03125rem;
    margin: .2rem;
    padding-top: 1rem;
    padding-left: .8rem;
    padding-bottom: 1rem;
    padding-right: .8rem;
    
    cursor: pointer;
    
    
    
    -webkit-transition: ease-in .8s;
    -moz-transition: ease-in .8s;
    transition: ease-in .8s;
}

.github {
    background-color: var(--color-light-olive-orange);
    color: var(--color-black);
    border: 1px solid var(--color-dark-orange);
    box-shadow: inset 0 0 0 0 var(--color-light-white-overlay);
    border-radius: 15px 5px 5px 5px;
}

.linkedin {
    background-color: var(--color-light-white-overlay);
    color: var(--color-black);
    border: 1px solid var(--colror-dark-blue);
    box-shadow: inset 0 0 0 0 var(--color-light-white-overlay);
    border-radius: 5px 5px 15px 5px;
}

.cv {
    border: 1px solid var(--color-black);
    border-radius: 5px 5px 5px 5px;
}

.github:hover {
    border: none;
    box-shadow: inset 120px 0 0 0 var(--color-light-olive-yellow);
}

.linkedin:hover {
    box-shadow: inset 120px 0 0 0 var(--color-light-white-overlay);
    color: var(--color-dark-blue);
    border: none;
}

.cv:hover {
    box-shadow: inset 120px 0 0 0 var(--color-black);
    color: var(--color-white);
    border: none;
}

.myexp {
    width: 100%;
    height: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 8rem;
    padding-bottom: 3rem;
    background-color: var(--color-white);
}

.myexp > .exp-title {
    width: 100%;
    padding-bottom: 1rem;
}

.myexp > .exp-title > .exp-main-title {
    text-align: center;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-h1-mobile);
    line-height: 68px;
    color: var(--color-black);
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 0px;
    
}

.myexp > .infosys-exp-card {
    width: 100%;
    height: auto;
    background-color: var(--color-light-olive-yellow);
    border-radius: 36px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.myexp > .infosys-exp-card > .exp-card-title {
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-p-desktop);
    padding-left: 4rem;
    padding-top: 2rem;
    text-align: left;
}

.myexp > .infosys-exp-card > .exp-card-timeline {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-80);
    padding-right: 1.8rem;
    text-align: right;
}

.myexp > .infosys-exp-card > .inner-exp-card-1 {
    margin-top: .8rem;
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    border-radius: 0px 0px 10px 36px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 2rem;
    padding-left: 4rem;
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-title {
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
    text-align: left;
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-title > strong {
    font-size: var(--font-size-p-mobile);
    background-color: var(--color-light-green-1);
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips {
    margin-top: 1.2rem;
    padding-left: 4rem;
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .dotnet-chip {
    background-color: var(--color-light-olive-blue);
    color: var(--colror-dark-blue);
    border: 2px solid var(--colror-dark-blue);
    border-radius: 25px 25px 15px 25px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .8rem;
    padding-right: .8rem;
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .sql-db-chip {
    background-color: var(--color-light-olive-yellow);
    color: var(--color-black);
    border: 2px solid var(--color-black);
    border-radius: 25px 15px 25px 25px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .8rem;
    padding-right: .8rem;
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .nosql-db-chip {
    background-color: var(--color-light-green-1);
    color: var(--color-light-green-4);
    border: 2px solid var(--color-light-green-4);
    border-radius: 15px 25px 25px 25px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .8rem;
    padding-right: .8rem;
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .git-chip {
    background-color: var(--color-light-olive-orange);
    color: var(--color-black);
    border: 2px solid var(--color-dark-orange);
    border-radius: 25px 25px 15px 25px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .8rem;
    padding-right: .8rem;
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .cloud-chip {
    background-color: var(--color-light-olive-purple);
    color: var(--color-dark-purple);
    border: 2px solid var(--color-dark-purple);
    border-radius: 25px 10px 15px 15px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .8rem;
    padding-right: .8rem;
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .server-chip {
    background-color: var(--color-light-olive-pink);
    color: var(--color-dark-pink);
    border: 2px solid var(--color-dark-pink);
    border-radius: 25px 10px 15px 15px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .8rem;
    padding-right: .8rem;
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .arch-chip {
    background-color: var(--color-light-olive-red);
    color: var(--color-dark-red);
    border: 2px solid var(--color-dark-red);
    border-radius: 15px 10px 15px 25px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .8rem;
    padding-right: .8rem;
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .fe-chip {
    background-color: var(--color-light-olive-grey);
    color: var(--color-dark-grey);
    border: 2px solid var(--color-black);
    border-radius: 15px 10px 25px 10px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .8rem;
    padding-right: .8rem;
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-improvements {
    margin-top: 1.2rem;
    padding-left: 4rem;
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-improvements > ul > li {
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-p-mobile);
    text-align: left;
    margin-bottom: 1rem;
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-improvements > ul > li > strong {
    background-color: var(--color-light-olive-yellow);
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .more-details-exp-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .more-details-exp-section > a > .more-exp-details-btn {
    background-color: var(--color-black);
    color: var(--color-light-green-1);
    border: 1px solid var(--color-black);
    border-radius: 50px 50px 50px 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .8rem;
    padding-right: .8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
    box-shadow: inset 0 0 0 0 var(--color-light-white-overlay);
    cursor: pointer;
    -webkit-transition: ease-in .8s;
    -moz-transition: ease-in .8s;
    transition: ease-in .8s;
    float: center;
}

.myexp > .infosys-exp-card > .inner-exp-card-1 > .more-details-exp-section > a > .more-exp-details-btn:hover {
    box-shadow: inset 500px 0 0 0 var(--color-light-white-overlay);
    color: var(--color-black);
}

.footer {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-70);
}

a {
    text-decoration: none;
    color: var(--color-black);
}

a:hover {
    color: var(--colror-dark-blue);
}

.services {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 6rem;
}

.services>.service-name {
    font-family: var(--font-family-mixed);
    font-size: var(--font-size-h2-desktop);
    font-weight: var(--font-weight-900);
}

.services>.cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.services>.cards>.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.services>.cards>.card>.card-image {
    align-items: center;
    width: 100%;
    height: 200.9px;
    border-radius: 20px 20px 0px 0px;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.services>.cards>.card>.service-desc {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: .3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
}

.services>.cards>.card>.service-desc-p {
    font-family: var(--font-family-mixed);
    font-size: var(--font-size-p-desktop);
    font-weight: var(--font-weight-900);
    line-height: 32px;
    letter-spacing: 2px;
}

.services>.cards>.card>.project-desc-p {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-h1-mobile);
    font-weight: var(--font-weight-900);
    line-height: 32px;
    letter-spacing: 2px;
}

.services>.cards>.card>.explore-btn {
    width: 50%;
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-100);
    line-height: 1.5rem;
    text-align: center;
    color: var(--color-black);
    letter-spacing: 0.03125rem;
    margin-top: .8rem;
    margin-left: 2rem;
    margin-right: .8rem;
    margin-bottom: .8rem;
    padding-top: 0.6rem;
    padding-left: 2rem;
    padding-bottom: 0.6rem;
    padding-right: 2rem;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    background-color: var(--color-light-green-3);
    border: 2px solid var(--color-dark-green-2);
    box-shadow: inset 0 0 0 0 var(--color-light-green-2);
    -webkit-transition: ease-in .8s;
    -moz-transition: ease-in .8s;
    transition: ease-in .8s;
}

.services>.cards>.card>.explore-btn:hover {
    box-shadow: inset 240px 0 0 0 var(--color-white);
    border: 2px solid var(--color-black);
}

.rotate-45 {
    transform: rotate(-45deg);
}

.services>.cards>.card>.tech-used {
    margin-left: 2rem;
    margin-right: 2rem;
}

.tech-chip {
    font-family: var(--font-family-mixed);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-80);
    line-height: .2rem;
    text-align: center;
    color: var(--color-light-green-4);
    letter-spacing: 0.03125rem;
    margin: .2rem;
    padding-top: 0.6rem;
    padding-left: .4rem;
    padding-bottom: 0.6rem;
    padding-right: .4rem;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--color-light-green-4);
    box-shadow: inset 0 0 0 0 var(--color-light-green-2);
    -webkit-transition: ease-in .8s;
    -moz-transition: ease-in .8s;
    transition: ease-in .8s;
}

.tech-chip:hover {
    box-shadow: inset 70px 0 0 0 var(--color-light-green-3);
    color: var(--color-dark-green-2);
}


.about-container {
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
}

.accordion {
    background-color: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 50px;
    padding-right: 40px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: var(--font-size-p-desktop);
    font-family: var(--font-family-mixed);
    -webkit-transition: ease-in .8s;
    -moz-transition: ease-in .8s;
    transition: ease-in .8s;
    border-radius: 25px 25px;
    box-shadow: inset 0 0 0 0 var(--color-white);
    border: 3px solid var(--color-black);
}

.accor-active,
.accordion:hover {
    box-shadow: inset 1500px 0 0 0 var(--color-black);
    color: var(--color-white);
}

.accordion:after {
    font-family: var(--font-familty-material-icons);
    content: "\e5cc";
    color: var(--color-white);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accor-active:after {
    content: "\e5cf";
}

.panel {
    width: 100%;
    padding: 10px 25px;
    background-color: var(--color-white);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: var(--font-size-100);
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-900);
}

.contact-chip {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 4rem;
}

.contact-chip > span {
    margin-right: 2rem;
    padding: 10px;
    -webkit-transition: ease-in .8s;
    -moz-transition: ease-in .8s;
    transition: ease-in .8s;
}
.contact-chip > span:hover {
    border-radius: 50%;
    background-color: var(--color-black);
    color: var(--color-white);
    transform: rotate(-360deg);
}

/*Mobile Responsive CSS*/
@media only screen and (max-width: 600px) {
    .main-container {
        width: 100%;
    }

    .top-navbar {
        position: fixed;
        z-index: 2;
        /*opacity: .7;*/
        width: 100%;
        height: 4rem;
        padding-top: .2rem;
        padding-bottom: .2rem;
        padding-left: .1rem;
        padding-right: .1rem;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-white);
        /*backdrop-filter: saturate(180%) blur(5px);
        background-color: hsla(0,0%,100%,.5);*/

    }
    .top-navbar>ul>li {
        border-bottom: none;
    }

    .top-navbar>.menu {
        display: none;
    }

    .top-navbar>.menu-mobile {
        display: block;
    }

    .mobile-menu-screen {
        width: 100vw;
        height: 100vh;
        z-index: 3;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: .2rem;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
        font-family: var(--font-family-mixed);
        font-size: var(--font-size-100);
        font-weight: var(--font-weight-900);
        -webkit-transition: ease-out 1.8s;
        -moz-transition: ease-out 1.8s;
        transition: ease-out 1.8s;
        background-color: var(--color-white);
        overflow-y: hidden;
    }

    .top-header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .menu-close {
        text-align: right;
        cursor: pointer;
        -webkit-transition: ease-in .3s;
        -moz-transition: ease-in .3s;
        transition: ease-in .3s;
    }

    .menu-close:hover {
        transform: rotate(90deg);
    }

    .mobile-menu-screen>ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: var(--color-black);
    }

    a:hover {
        color: var(--color-light-green-4);
    }

    .mobile-menu-screen>ul>li {
        margin-bottom: 2rem;
    }


    .second-half {
        position: absolute;
        top: 80vh;
        bottom: 0;
        margin-left: 2.5%;
        margin-top: 2rem;
        padding-top: 2rem;
        margin-right: 2.5%;
        margin-bottom: 2rem;
        width: 60%;
    }



    .mobile-menu-screen>ul>.first-half>li {
        margin-bottom: 2rem;
        font-size: var(--font-size-h2-mobile);
    }

    .mobile-menu-screen>ul>.first-half>li:hover {
        color: var(--color-light-green-4);
        cursor: pointer;
    }

    .mobile-menu-screen>.mobile-menus>.second-half>li {
        margin-bottom: 3rem;
    }

    .mobile-menus {
        margin-left: 1.2rem;
    }

    .welcome-menu {
        font-family: var(--font-family-roboto);
        font-size: var(--font-size-100);
        font-weight: var(--font-weight-400);
    }

    .lang-dropdown > select{
        width: 90%;
        border: 2px solid var(--color-black);
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: .8rem;
        padding-bottom: .8rem;
        border-radius: 25px;
        font-family: var(--font-family-mixed);
        font-size: var(--font-size-100);
        font-weight: var(--font-weight-900);
        transition: scale(1.15) translateY(-30px) 2.5s ease-in;
    }

    .top-notification {
        position: fixed;
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 1.4rem;
        margin-left: 0;
        margin-right: 0;
        box-shadow: inset 0 0 0 0 var(--color-light-olive-blue);
        -webkit-transition: ease-out 1.2s;
        -moz-transition: ease-out 1.2s;
        transition: ease-out 1.2s;
        padding-top: .2rem;
        padding-bottom: .2rem;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: var(--color-light-olive-blue);
        cursor: pointer;
        backdrop-filter: saturate(180%) blur(5px);
        box-shadow: var(--box-shadow-dark-deep);
    }

    .top-notification>p {
        color: var(--colror-dark-blue);
        font-size: var(--font-size-100);
        padding-left: .6rem;
        padding-right: .6rem;
        font-family: var(--font-family-mixed);
        text-align: center;
        font-weight: var(--font-weight-900);

    }

    .name {
        font-family: var(--font-family-roboto);
        font-weight: var(--font-weight-900);
        font-size: var(--font-size-h1-mobile);
        line-height: 44px;
        color: var(--color-black);
        letter-spacing: -1px;
        margin-top: 0;
        margin-bottom: 38px;
        width: 100%;
        text-align: center;
    }

    .desc {
        font-family: var(--font-family-roboto);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-p-mobile);
        line-height: 26px;
        color: var(--color-black);
        letter-spacing: 0;
        margin-top: 0;
        margin-bottom: 0 0 20px;
        width: 100%;
        text-align: left;
    }

    .flex-container {
        display: flex;
        margin-left: 1.5rem;
        padding-top: 8rem;
        margin-top: 0;
    }

    .flex-intro {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .intro-1 {
        width: 100%;
    }

    .intro-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro-2>.intro-2-links {
        display: none;
    }

    .intro-2>.profile-photo {
        align-items: center;
        width: 80%;
        height: 70%;
        border-radius: 20px 50px 40px 80px;
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
    }

    .contact-btn {
        width: 85vw;
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-900);
        font-size: var(--font-size-100);
        line-height: 1.5rem;
        text-align: center;
        color: var(--color-black);
        letter-spacing: 0.03125rem;
        padding-top: 0.6rem;
        margin-bottom: 0.6rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-bottom: 0.6rem;
        padding-right: 2rem;
        border-radius: 25px 25px 25px 25px;
        cursor: pointer;
        background-color: var(--color-light-olive-red);
        border: 2px solid var(--color-black);
        box-shadow: inset 0 0 0 0 var(--color-light-olive-red);
        -webkit-transition: ease-in .8s;
        -moz-transition: ease-in .8s;
        transition: ease-in .8s;
    }

    .intro-2-mobile {
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    .intro-2-links {
        display: none;
    }

    .intro-2-mobile-links {
        display: block;

    }

    .social-link {
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-900);
        font-size: var(--font-size-80);
        line-height: .2rem;
        text-align: center;
        letter-spacing: 0.03125rem;
        margin: 1.6rem;
        padding-top: 0.6rem;
        padding-left: .4rem;
        padding-bottom: 0.6rem;
        padding-right: .4rem;
        border-radius: 15px 15px 15px 15px;
        cursor: pointer;
        

        -webkit-transition: ease-in .8s;
        -moz-transition: ease-in .8s;
        transition: ease-in .8s;
    }

    .github {
        background-color: var(--color-light-olive-orange);
        color: var(--color-black);
        border: 1px solid var(--color-dark-orange);
        box-shadow: inset 0 0 0 0 var(--color-light-white-overlay);
        border-radius: 15px 5px 5px 5px;
    }
    
    .linkedin {
        background-color: var(--color-light-white-overlay);
        color: var(--color-black);
        border: 1px solid var(--colror-dark-blue);
        box-shadow: inset 0 0 0 0 var(--color-light-white-overlay);
        border-radius: 5px 15px 5px 5px;
    }
    
    .cv {
        border: 1px solid var(--color-black);
        border-radius: 5px 5px 5px 5px;
    }

    .medium {
        border: 1px solid var(--color-black);
        border-radius: 5px 5px 5px 5px;
    }

    .leetcode {
        background-color: var(--color-light-olive-yellow);
        color: var(--color-black);
        border: 1px solid var(--colror-dark-blue);
        box-shadow: inset 0 0 0 0 var(--color-light-white-overlay);
        border-radius: 5px 5px 15px 5px;
    }
    
    .github:hover {
        border: none;
        box-shadow: inset 120px 0 0 0 var(--color-light-olive-yellow);
    }
    
    .linkedin:hover {
        box-shadow: inset 120px 0 0 0 var(--color-light-white-overlay);
        color: var(--color-dark-blue);
        border: none;
    }
    
    .cv:hover {
        box-shadow: inset 120px 0 0 0 var(--color-black);
        color: var(--color-white);
        border: none;
    }

    .medium:hover {
        box-shadow: inset 120px 0 0 0 var(--color-black);
        color: var(--color-white);
        border: none;
    }

    .leetcode:hover {
        box-shadow: inset 120px 0 0 0 var(--color-light-white-overlay);
        color: var(--color-black);
        border: none;
    }

    .myexp {
        width: 100%;
        height: auto;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        background-color: var(--color-white);
    }
    
    .myexp > .exp-title {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: .3rem;
        margin-top: 0;
        padding-top: 8rem;
        width: 100%;
        padding-bottom: 1rem;
    }
    
    .myexp > .exp-title > .exp-main-title {
        text-align: center;
        font-family: var(--font-family-roboto);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-h1-mobile);
        line-height: 45px;
        color: var(--color-black);
        letter-spacing: -1px;
        margin-top: 0;
        margin-bottom: 0px;
        
    }
    
    .myexp > .infosys-exp-card {
        width: 100%;
        height: auto;
        background-color: var(--color-light-olive-yellow);
        border-radius: 36px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    
    .myexp > .infosys-exp-card > .exp-card-title {
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-p-desktop);
        padding-left: .7rem;
        padding-right: .7rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        text-align: center;
    }
    
    .myexp > .infosys-exp-card > .exp-card-timeline {
        font-family: var(--font-family-roboto);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-80);
        padding-right: 1.8rem;
        text-align: center;
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 {
        margin-top: 1.2rem;
        width: 100%;
        height: auto;
        background-color: var(--color-white);
        border-radius: 0px 0px 36px 36px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: .5rem;
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-title {
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-900);
        font-size: var(--font-size-100);
        text-align: left;
        line-height: 1.5rem;
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-title > strong {
        font-size: var(--font-size-p-mobile);
        background-color: var(--color-light-green-1);
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips {
        margin-top: 1.2rem;
        padding-left: .4rem;
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .dotnet-chip {
        background-color: var(--color-light-olive-blue);
        color: var(--colror-dark-blue);
        border: 2px solid var(--colror-dark-blue);
        border-radius: 25px 25px 15px 25px;
        padding-top: .4rem;
        padding-bottom: .4rem;
        padding-left: .8rem;
        padding-right: .8rem;
        margin-top: .3rem;
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-80);
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .sql-db-chip {
        background-color: var(--color-light-olive-yellow);
        color: var(--color-black);
        border: 2px solid var(--color-black);
        border-radius: 25px 15px 25px 25px;
        padding-top: .4rem;
        padding-bottom: .4rem;
        padding-left: .8rem;
        padding-right: .8rem;
        margin-top: .3rem;
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-80);
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .nosql-db-chip {
        background-color: var(--color-light-green-1);
        color: var(--color-light-green-4);
        border: 2px solid var(--color-light-green-4);
        border-radius: 15px 25px 25px 25px;
        padding-top: .4rem;
        padding-bottom: .4rem;
        padding-left: .8rem;
        padding-right: .8rem;
        margin-top: .3rem;
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-80);
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .git-chip {
        background-color: var(--color-light-olive-orange);
        color: var(--color-black);
        border: 2px solid var(--color-dark-orange);
        border-radius: 25px 25px 15px 25px;
        padding-top: .4rem;
        padding-bottom: .4rem;
        padding-left: .8rem;
        padding-right: .8rem;
        margin-top: .3rem;
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-80);
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .cloud-chip {
        background-color: var(--color-light-olive-purple);
        color: var(--color-dark-purple);
        border: 2px solid var(--color-dark-purple);
        border-radius: 25px 10px 15px 15px;
        padding-top: .4rem;
        padding-bottom: .4rem;
        padding-left: .8rem;
        padding-right: .8rem;
        margin-top: .3rem;
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-80);
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .server-chip {
        background-color: var(--color-light-olive-pink);
        color: var(--color-dark-pink);
        border: 2px solid var(--color-dark-pink);
        border-radius: 25px 10px 15px 15px;
        padding-top: .4rem;
        padding-bottom: .4rem;
        padding-left: .8rem;
        padding-right: .8rem;
        margin-top: .3rem;
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-80);
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .arch-chip {
        background-color: var(--color-light-olive-red);
        color: var(--color-dark-red);
        border: 2px solid var(--color-dark-red);
        border-radius: 15px 10px 15px 25px;
        padding-top: .4rem;
        padding-bottom: .4rem;
        padding-left: .8rem;
        padding-right: .8rem;
        margin-top: .3rem;
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-80);
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-tech-stack-chips > .fe-chip {
        background-color: var(--color-light-olive-grey);
        color: var(--color-dark-grey);
        border: 2px solid var(--color-black);
        border-radius: 15px 10px 25px 10px;
        padding-top: .4rem;
        padding-bottom: .4rem;
        padding-left: .8rem;
        padding-right: .8rem;
        margin-top: .3rem;
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-80);
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-improvements {
        margin-top: 1.2rem;
        padding-left: .5rem;
        padding-right: 1rem;
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-improvements > ul > li {
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-100);
        text-align: left;
        margin-bottom: 1rem;
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .exp-1-improvements > ul > li > strong {
        background-color: var(--color-light-olive-yellow);
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .more-details-exp-section {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .more-details-exp-section > a > .more-exp-details-btn {
        background-color: var(--color-black);
        color: var(--color-light-green-1);
        border: 1px solid var(--color-black);
        border-radius: 50px 50px 50px 50px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-900);
        font-size: var(--font-size-100);
        box-shadow: inset 0 0 0 0 var(--color-light-white-overlay);
        cursor: pointer;
        -webkit-transition: ease-in .8s;
        -moz-transition: ease-in .8s;
        transition: ease-in .8s;
        float: center;
    }
    
    .myexp > .infosys-exp-card > .inner-exp-card-1 > .more-details-exp-section > a > .more-exp-details-btn:hover {
        box-shadow: inset 500px 0 0 0 var(--color-light-white-overlay);
        color: var(--color-black);
    }
    

    .footer {
        position: relative;
    }

    .card-container{
        padding-top: 8rem;
    }

    .services {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 4rem;
    }

    .services>.cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .services>.cards>.card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin-right: 2rem;
        margin-bottom: 2rem;
        border-radius: 20px 20px 20px 20px;
        padding-bottom: 1rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .services>.cards>.card>.explore-btn {
        width: 70%;
        font-family: var(--font-family-mixed);
        font-weight: var(--font-weight-900);
        font-size: var(--font-size-100);
        line-height: 1.5rem;
        text-align: center;
        color: var(--color-black);
        letter-spacing: 0.03125rem;
        margin-top: .8rem;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: .8rem;
        padding-top: 0.6rem;
        padding-left: 2rem;
        padding-bottom: 0.6rem;
        padding-right: 2rem;
        border-radius: 25px 25px 25px 25px;
        cursor: pointer;
        background-color: var(--color-light-green-3);
        border: 2px solid var(--color-dark-green-2);
        box-shadow: inset 0 0 0 0 var(--color-light-green-2);
        -webkit-transition: ease-in .8s;
        -moz-transition: ease-in .8s;
        transition: ease-in .8s;
    }

    .services>.cards>.card>.explore-btn:hover{
        color: var(--color-black);
    }

    .about-container {
        overflow-x: hidden;
        margin-left: 3%;
        margin-right: 3%;
        padding-top: 9rem;
        width: 96%;
    }

    .accordion {
        background-color: var(--color-white);
        color: var(--color-black);
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 30px;
        width: 98%;
        outline: none;
        font-size: var(--font-size-h2-mobile);
        font-family: var(--font-family-mixed);
        -webkit-transition: ease-in .8s;
        -moz-transition: ease-in .8s;
        transition: ease-in .8s;
        border-radius: 25px 25px;
        box-shadow: inset 0 0 0 0 var(--color-white);
        border: 2px solid var(--color-black);
        text-align: center;
    }
    
    .accor-active,
    .accordion:hover {
        box-shadow: inset 650px 0 0 0 var(--color-black);
        color: var(--color-white);
    }

    .panel {
        width: 98%;
        padding: 10px 25px;
        background-color: var(--color-white);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        font-size: var(--font-size-100);
        font-family: var(--font-family-roboto);
        font-weight: var(--font-weight-400);
        text-align: center;
    }


    body::-webkit-scrollbar {
        width: 0em;
    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    }

    body::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}